<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css" crossorigin="anonymous">
    <link href="/css/gold.css" rel="stylesheet" type="text/css">
    <title>Oro gold</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" href="js/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="js/assets/owl.theme.default.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>

<body>

    <nav class="navbar navbar-dark bg-dark oro-navbar">
        <div class="container">
            <a class="navbar-brand">
                <img src="assets/img/cropped-orogold-logo-dgold.png" width="150" alt="">
            </a>
            <form class="oro-contact">
                <span class="mr-sm-2 oro-contact-mail">orogolspa@gorogold.com</span>
                <button class="btn my-2 my-sm-0 oro-contact-button" type="submit">Reserva ahora</button>
            </form>
        </div>
    </nav>
    <header class="oro-slider">
        <div class="container slider-content">
            <div class="row">
                <div class="col-12 col-sm-7 right-content">
                    <h1>OROGOLD</h1>
                    <h3>Cuando belleza y glamur</h3>
                    <h3>van de la mano.</h3>
                </div>
                <div class="col-12 col-sm-5 left-content">
                    <div class="oro-form">
                        <h2 class="oro-form-title">Reserva ahora tu cita</h2>
                        <form id="form-contact" >
                            <div class="form-group">
                                <input type="text" class="form-control " id="nombre" name="nombre"
                                    placeholder="nombre">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control " id="email" name="email"
                                    placeholder="email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control " id="telefono" name="telefono"
                                    placeholder="telefono">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block btn-oro-submit" type="button" onclick="save()">Reservar ahora</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="treatments-section">
        <div class="container treatments-content">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="treatments-title">NUESTROS TRATAMIENTOS</h2>
                    <p class="treatments-description">
                        El tratamiento de la casa de dos horas de duración transporta a los clientes a un oasis de
                        relajación, incluye un masaje de espalda, hombros, piernas y pies utilizando aceites de masaje.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-4 text-center">
                    <div class="oro-card">
                        <div class="oro-card-header">
                            <div class="img-card-one"></div>
                        </div>
                        <h3 class="oro-card-title">MASAJE CON ORO</h3>
                        <div class="oro-card-description">
                            <strong>SPA Orogold </strong> ofrece tratamientos especializados de la mano de nuestros
                            profesionales expertos, con productos excepcionalesde marcas galadornadas
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 text-center">
                    <div class="oro-card">
                        <div class="oro-card-header">
                            <div class="img-card-two"></div>
                        </div>
                        <h3 class="oro-card-title">EXFOLIACIÓN CON PRODUCTOS NATURALES</h3>
                        <div class="oro-card-description">
                            El tratamiento de la casa de dos horas de duracion transporta a los clientes
                            a un oasis de relajacion. Incluye un masaje de espalda, hombros, piernas y pies
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 text-center">
                    <div class="oro-card">
                        <div class="oro-card-header">
                            <div class="img-card-three"></div>
                        </div>
                        <h3 class="oro-card-title">RECONSTRUCCIÓN FACIAL</h3>
                        <div class="oro-card-description">
                            El tratamiento de la casa de dos horas de duracion transporta a los clientes
                            a un oasis de relajacion. Incluye un masaje de espalda, hombros, piernas y pies
                        </div>
                    </div>
                </div>
            </div>
        </div>|
    </section>
    <section class="about">
        <div class="container-fluid about-content">
            <div class="row about-top">
                <div class="col-2"></div>
                <div class="col-8 text-center">
                    <h2>QUIENES SOMOS</h2>
                    <p>El lujoso spa en Orogold, en Mexico,ofrece un refugio sublime en pleno corazón de la ciudad.</p>
                    <br>
                    <p>Los huéspedes pueden disfrutar de un gimnasio de última generación, una relajante sauna o duchas
                        a chorro durante su escapada de estrellas
                        en nuestro hotel boutique en París. Por otra parte, nuestra
                        nueva asociacion con ZEAL COSMETICS asegura la disponibilidad de una gama de relajantes
                        tratamientos faciales y corporales para mimarse y revitalizarse</p>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <section>
                    <div class="owl-carousel">
                        <div class="item-crs"> <img src="assets/img/photo-1489659639091-8b687bc4386e.jpg" alt=""> </div>
                        <div class="item-crs"> <img src="assets/img/photo-1554057009-6798cb3d4a04.jpg" alt=""> </div>
                        <div class="item-crs"> <img src="assets/img/photo-1531853121101-cb94c8ed218d.jpg" alt=""> </div>
                        <div class="item-crs"> <img src="assets/img/photo-1560944527-a4a429848866.jpg" alt=""> </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <section class="schedule">
        <div class="container schedule-content">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div id='map' style='width: 100%; height: 450px;'></div>
                </div>
                <div class="col-12 col-sm-6 schedule-detail">
                    <h2>HORARIOS</h2>

                    <p>
                        Lunes a viernes de 10:00 a 19:30
                        <br> Sábados, domingos, y festivos 10:00 a 18:30.
                    </p>

                    <p>

                        Pueden concentrarse tratamientos fuera del
                        <br> horario de apertura indicando con cita previa.
                    </p>
                    <br>
                    <h2>DIRECCIÓN</h2>

                    <p>
                        Av. Insurgentes Sur 105, Roma Sur, Cuauhtemoc,
                        <br> 06600 Ciudad de México, CDMX, México
                    </p>
                    <br>
                    <a class="btn btn-map" href="/mapa">Ver en el Mapa</a>
                </div>
            </div>
        </div>
    </section>
    <section class="poster">
        <div class="container poster-content">
        </div>
    </section>
    <section class="information">
        <div class="container">
            <div class="col-12 text-center">
                <h3>NO DEJES PASAR ESTA OPORTUNIDAD</h3>
                <br>
                <p>
                    Sabias que un masaje debido a su accion calmante y analgesica
                    viene dada mediante actos reflejos que afectan al sistema nervioso
                    central o esto causa la liberacion de endorfinas que anulan las sensaciones de dolor en el cerebro.
                    El estimulo de los mecanos receptores mediante el masaje se ha demostrado que alivia el dolor y la
                    tension muscular
                </p>
                <button onclick="goto()" type="button" class="btn button">Reserva ahora</button>
            </div>
        </div>
    </section>
    <footer>
        <nav class="navbar navbar-dark bg-dark oro-navbar">
            <div class="container">
                <a class="navbar-brand">
                    <img src="assets/img/cropped-orogold-logo-dgold.png" width="150" alt="">
                </a>
                <form class="oro-contact">
                    <a class="mail" href="mailto:orogolspa@gorogold.com">
                        <img src="assets/icon/mail.png" alt="" width="25"> &nbsp; orogolspa@gorogold.com</a>
                    <a class="phone" href="tel:525502630032">
                        <img src="assets/icon/telephone.png" alt="" width="25"> &nbsp; +525 5502630032
                    </a>
                </form>
            </div>
        </nav>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                loop: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true
            });
        });

        function goto() {
            let element = document.querySelector("#form-contact");
            element.scrollIntoView({
                behavior: 'smooth',
                block: 'end'
            });

        }

        function save() {            
            fetch("/reservar", {   method: 'POST',                             
                body: JSON.stringify({
                    nombre:$("#nombre").val(),
                    email:$("#email").val(),
                    telefono:$("#telefono").val()
                }),
                headers:{     'Content-Type': 'application/json'   } })
                .then(res => res.json()) 
                .catch(error => console.error('Error:', error)) 
                .then(response => {
                    if (response.result.status==="success") {
                        Swal.fire({   position: 'center',   icon: 'success',   title: 'Reservada!!!',   showConfirmButton: false,   timer: 1500 })
                        $("#form-contact").trigger("reset")
                    } else {
                        Swal.fire({   position: 'center',   icon: 'error',   title: 'Ya tienes Cita!!',   showConfirmButton: false,   timer: 1500 })
                    }
                });
        }

        mapboxgl.accessToken = 'pk.eyJ1IjoibWVlcGxhYiIsImEiOiJjanFneWZyOTI1a25oNGNzNzJoeXVzdnNwIn0.J1Y1ma8zcZJtp4-6CPJivQ';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v10',
            center: [-99.16165888, 19.42652978], // starting position
            zoom: 11 // starting zoom
        });

        //load Geojson data
        var geojson = {
            type: 'FeatureCollection',
            features: [{
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: [-99.16165888, 19.42652978]
                },
                properties: {
                    title: 'Oficina',
                    descripcion: 'Oficina'
                }
            }
            ]
        };

        //add makers to map
        geojson.features.forEach(function (marker) {
            //create a HTML element for each feature
            var ele = document.createElement('div');
            ele.className = 'marker';

            //make a marker for each feature and add to the map
            new mapboxgl.Marker(ele)
                .setLngLat(marker.geometry.coordinates)
                .addTo(map);


            new mapboxgl.Marker(ele)
                .setLngLat(marker.geometry.coordinates)
                .setPopup(new mapboxgl.Popup({ offset: 25 })//add popups
                    .setHTML('<h3>' + marker.properties.title + '</h3><h4>' + marker.properties.descripcion + '</h4>')).addTo(map);
        });
    </script>
</body>

</html>