<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css"  crossorigin="anonymous">
    <link href="/css/gold.css" rel="stylesheet" type="text/css">
    <title>Oro gold</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" href="js/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="js/assets/owl.theme.default.css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark oro-navbar">
        <div class="container">
            <a class="navbar-brand">
                <img src="assets/img/cropped-orogold-logo-dgold.png" width="150" alt="">
            </a>
            <form class="oro-contact">
                <span class="mr-sm-2 oro-contact-mail">orogolspa@gorogold.com</span>
                <button class="btn my-2 my-sm-0 oro-contact-button" type="submit">Reserva ahora</button>
            </form>
        </div>
    </nav>
    <header class="oro-slider">
        <div class="container slider-content">
            <div class="row">
                <div class="col-12 col-sm-7 right-content">
                    <h1>OROGOLD</h1>
                    <h3>Cuando belleza y glamur</h3>
                    <h3>van de la mano.</h3>
                </div>
                <div class="col-12 col-sm-5 left-content">
                    <div class="oro-form">
                        <h2 class="oro-form-title">Reserva ahora tu cita</h2>
                        <form id="form-contact">
                            <div class="form-group">
                                <input type="text" class="form-control " id="exampleFormControlInput1" placeholder="nombre">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control " id="exampleFormControlInput1" placeholder="email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control " id="exampleFormControlInput1" placeholder="telefono">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block btn-oro-submit">Reservar ahora</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="treatments-section">
        <div class="container treatments-content">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="treatments-title">NUESTROS TRATAMIENTOS</h2>
                    <p class="treatments-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet natus debitis corporis sint illo omnis. Quo odio vitae adipisci dignissimos, dolore accusantium iste deleniti ducimus explicabo voluptates natus, cumque quaerat.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-4 text-center">
                    <div class="oro-card">
                        <div class="oro-card-header">
                            <div class="img-card-one"></div>
                        </div>
                        <h3 class="oro-card-title">MASAJE CON ORO</h3>
                        <div class="oro-card-description">
                            <strong>Lorem ipsum dolor sit.</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda quo, eius quod esse ex rerum dolor amet inventore. Voluptas numquam obcaecati, nam dolorem non sapiente eaque earum
                            placeat reprehenderit est!
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 text-center">
                    <div class="oro-card">
                        <div class="oro-card-header">
                            <div class="img-card-two"></div>
                        </div>
                        <h3 class="oro-card-title">MASAJE CON ORO</h3>
                        <div class="oro-card-description">
                            <strong>Lorem ipsum dolor sit.</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda quo, eius quod esse ex rerum dolor amet inventore. Voluptas numquam obcaecati, nam dolorem non sapiente eaque earum
                            placeat reprehenderit est!
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 text-center">
                    <div class="oro-card">
                        <div class="oro-card-header">
                            <div class="img-card-three"></div>
                        </div>
                        <h3 class="oro-card-title">MASAJE CON ORO</h3>
                        <div class="oro-card-description">
                            <strong>Lorem ipsum dolor sit.</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda quo, eius quod esse ex rerum dolor amet inventore. Voluptas numquam obcaecati, nam dolorem non sapiente eaque earum
                            placeat reprehenderit est!
                        </div>
                    </div>
                </div>
            </div>
        </div>|
    </section>
    <section class="about">
        <div class="container-fluid about-content">
            <div class="row about-top">
                <div class="col-2"></div>
                <div class="col-8 text-center">
                    <h2>QUIENES SOMOS</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem omnis qui corrupti!</p>
                    <br>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita placeat libero, assumenda dolorem magni nisi necessitatibus quo repellat officiis, pariatur sunt dignissimos veritatis. Hic alias quasi eos possimus necessitatibus
                        illum ipsa quas tempora minima autem labore mollitia quam at, consequatur natus cupiditate delectus aspernatur veniam sequi incidunt. Ipsam aspernatur doloremque iure eligendi. Et beatae natus iste culpa eius necessitatibus esse
                        iure doloribus corporis accusantium cum vitae ad eaque quas, eveniet molestiae modi consequatur laudantium laboriosam possimus tenetur aperiam animi. Eveniet cum libero, obcaecati corporis neque sed inventore doloribus quia odio
                        maxime culpa totam necessitatibus nihil.</p>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <section>
                    <div class="owl-carousel">
                        <div class="item-crs"> <img src="assets/img/photo-1489659639091-8b687bc4386e.jpg" alt=""> </div>
                        <div class="item-crs"> <img src="assets/img/photo-1554057009-6798cb3d4a04.jpg" alt=""> </div>
                        <div class="item-crs"> <img src="assets/img/photo-1531853121101-cb94c8ed218d.jpg" alt=""> </div>
                        <div class="item-crs"> <img src="assets/img/photo-1560944527-a4a429848866.jpg" alt=""> </div>
                    </div>
                </section>
            </div>
            <!-- <div class="row about-bottom">
                <div class="col-12 gallery">
                    <div class="item-gallery-one">

                    </div>
                    <div class="item-gallery-two">

                    </div>
                    <div class="item-gallery-three">

                    </div>
                    <div class="item-gallery-fourth">

                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <section class="schedule">
        <div class="container schedule-content">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div id='map' style='width: 100%; height: 450px;'></div>
                </div>
                <div class="col-12 col-sm-6 schedule-detail">
                    <h2>HORARIOS</h2>

                    <p>
                        Lorem, ipsum dolor.
                        <br> Lorem, ipsum dolor.
                    </p>

                    <p>
                        Lorem, ipsum dolor.
                        <br> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi molestiae
                    </p>
                    <br>
                    <h2>DIRECCIÓN</h2>

                    <p>
                        Lorem, ipsum dolor.
                        <br> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi molestiae
                    </p>
                    <br>
                    <a class="btn btn-map" href="/mapa">Ver en el Mapa</a>
                </div>
            </div>
        </div>
    </section>
    <section class="poster">
        <div class="container poster-content">
        </div>
    </section>
    <section class="information">
        <div class="container">
            <div class="col-12 text-center">
                <h3>NO DEJES PASAR ESTA OPORTUNIDAD</h3>
                <br>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor culpa voluptates unde. Ipsam velit quibusdam sed voluptatibus sequi consectetur. Placeat officiis sit minus omnis incidunt magni ad labore, veniam temporibus quas inventore quod distinctio
                    cumque error deleniti sed voluptate eius nesciunt quia aspernatur mollitia? Quos ipsam qui nobis. Illum, neque! Voluptatibus laboriosam iure eos magni eligendi beatae reiciendis! Beatae, dolorem nulla. Fuga et, dicta velit blanditiis
                    dignissimos similique nostrum accusantium assumenda aliquid ratione iure voluptatum placeat earum, recusandae impedit quasi reprehenderit quae neque? Id atque laboriosam eveniet magni odit ipsa exercitationem vitae accusantium vel
                    laborum voluptas fuga delectus ad necessitatibus reprehenderit veritatis nesciunt odio libero iure et, at eaque veniam rem quod! Dolore iure alias ipsum nam tenetur praesentium similique quibusdam odio, ullam quia modi labore autem
                    magnam fuga amet cum maxime! Rem aperiam esse, debitis aliquid corporis et error quod sapiente porro eum qui eos tenetur cupiditate repellat fuga!
                </p>
                <button onclick="goto()" type="button" class="btn button">Reserva ahora</button>
            </div>
        </div>
    </section>
    <footer>
        <nav class="navbar navbar-dark bg-dark oro-navbar">
            <div class="container">
                <a class="navbar-brand">
                    <img src="assets/img/cropped-orogold-logo-dgold.png" width="150" alt="">
                </a>
                <form class="oro-contact">
                    <a class="mail" href="mailto:orogolspa@gorogold.com">
                        <img src="assets/icon/mail.png" alt="" width="25"> &nbsp; orogolspa@gorogold.com</a>
                    <a class="phone" href="tel:525502630032">
                        <img src="assets/icon/telephone.png" alt="" width="25"> &nbsp; +525 5502630032
                    </a>
                </form>
            </div>
        </nav>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibWVlcGxhYiIsImEiOiJjanFneWZyOTI1a25oNGNzNzJoeXVzdnNwIn0.J1Y1ma8zcZJtp4-6CPJivQ';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
        });
        $(document).ready(function() {
            $(".owl-carousel").owlCarousel({
                loop: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true
            });
        });

    

        function goto() {
            let element = document.querySelector("#form-contact");
            element.scrollIntoView({
                behavior: 'smooth',
                block: 'end'
            });

        }
    </script>
</body>

</html>